Source: opa-scripts
Maintainer: Scibian Project <packaging@scibian.org>
Section: misc
Priority: extra
Standards-Version: 3.9.6
Homepage: http://www.intel.com
Vcs-Git: https://github.com/scibian/opa-scripts.git
Vcs-Browser: https://github.com/scibian/opa-scripts
Build-Depends: debhelper (>= 9),
               dh-systemd,

Package: opa-scripts
Architecture: all
Depends: chkconfig,
         irqbalance,
         systemd,
         ${misc:Depends},
Description: Omni-Path Fabric initialization
 User space initialization scripts for the Omni-Path Fabric
