[Unit]
Description=RDMA Node Description Daemon
After=network.service

[Service]
Type=forking
EnvironmentFile=/etc/infiniband-diags/ibdiag.conf
ExecStart=/usr/sbin/rdma-ndd

[Install]
WantedBy=multi-user.target

